<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="css/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="css/custom.css">
</head>
<body ng-app="app" ng-controller="MothershipController">
    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Menü">
                <i class="material-icons icons-top">menu</i>
            </md-button>
            <h2>
                <span style="color:#fff;">Frisches.de</span>
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Account">
                <i class="material-icons icons-top">account_circle</i>
            </md-button>
            <md-button class="md-icon-button" aria-label="Mehr">
                <i class="material-icons icons-top">more_vert</i>
            </md-button>
        </div>
    </md-toolbar>
    <div layout="row" flex>
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
            <md-list>
                <md-subheader  class="md-no-sticky">Management</md-subheader>
                <md-list-item class="md-2-line md-avatar" ng-repeat="item in menu" role="link" md-ink-ripple>
                    <md-icon class="material-icons fr-icons">{{item.icon}}</md-icon>
                    <div class="md-list-item-text">
                        <span class="md-body-2">{{item.title}}</span>
                    </div>
                </md-list-item>
                <md-divider></md-divider>
                <md-subheader  class="md-no-sticky">Logistik</md-subheader>
                <md-list-item class="md-2-line" ng-repeat="item in admin" role="link" md-ink-ripple>
                    <md-icon class="material-icons fr-icons">{{item.icon}}</md-icon>
                    <div class="md-list-item-text">
                        <span class="md-body-2">{{item.title}}</span>
                    </div>
                </md-list-item>
            </md-list>
        </md-sidenav>
        <div layout="column" flex id="content">
            <md-content flex layout-padding>
                <div ng-view></div>
            </md-content>
        </div>
    </div>
<script src="js/angular/angular.min.js"></script>
<script src="js/angular/angular-aria.min.js"></script>
<script src="js/angular/angular-animate.min.js"></script>
<script src="js/angular/angular-material.min.js"></script>
<script src="js/angular/angular-route.min.js"></script>
<script src="js/angular/angular-resource.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>